<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aisisea.oa.system.department.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.aisisea.oa.system.department.domain.Department">
        <id column="dept_id" jdbcType="INTEGER" property="deptId"></id>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"></result>
        <result column="dept_phone" jdbcType="VARCHAR" property="deptPhone"></result>
        <result column="dept_parent" jdbcType="INTEGER" property="deptParent"></result>
        <result column="dept_local" jdbcType="VARCHAR" property="deptLocal"></result>
        <result column="dept_remarks" jdbcType="VARCHAR" property="deptRemarks"></result>
    </resultMap>

    <sql id="InsertColumnList">
        dept_name, dept_parent, dept_phone, dept_local, dept_remarks
    </sql>

    <sql id="DeptColumnList">
        d1.dept_id, d1.dept_name, d1.dept_phone, d1.dept_local, d1.dept_remarks, d2.dept_name
    </sql>

    <select id="selectDepartmentsByKey" resultMap="BaseResultMap">
        select <include refid="DeptColumnList"></include>, d2.dept_name as dept_parent
        from department as d1 inner join department as d2
        on d1.dept_parent = d2.dept_id
        <where>
            <if test="keyName != null and keyName != '' and keyValue != null and keyValue != ''">
                <if test="keyName == 'dept_parent'">d2.dept_name</if>
                <if test="keyName != 'dept_parent'">d1.${keyName}</if>
                like concat('%', #{keyValue}, '%')
            </if>
        </where>
        order by d1.${orderCol} ${orderTy}
    </select>

    <select id="selectDepartmentsNames" resultType="map">
        select dept_id as deptId, dept_name as deptName from department
    </select>

    <select id="selectDepartmentsIsExist" resultType="java.lang.Integer">
        select count(*) from department where
        dept_name in(<foreach collection="list" item="name" separator=",">#{name}</foreach>)
    </select>
    
    <select id="selectChildDepartmentCount" resultType="java.lang.Integer">
        select count(*) from department where dept_id in 
        (<foreach collection="list" item="id" separator=",">#{id}</foreach>)
    </select>

    <select id="selectDepartmentParentId" resultType="java.lang.String">
        select dept_parent from department where dept_id = #{deptId}
    </select>

    <insert id="insertDepartments">
        insert into department(<include refid="InsertColumnList"></include>) values
        <foreach collection="list" item="d" separator=",">
            (#{d.deptName}, #{d.deptParent}, #{d.deptPhone}, #{d.deptLocal}, #{d.deptRemarks})
        </foreach>
    </insert>

    <delete id="deleteDepartments">
        delete from department where dept_id
        in (<foreach collection="list" item="id" separator=",">#{id}</foreach>)
    </delete>

    <update id="editDepartment">
        update department
        <set>
            <if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
            <if test="deptParent != null and deptParent != ''">dept_parent = #{deptParent},</if>
            <if test="deptPhone != null">dept_phone = #{deptPhone},</if>
            <if test="deptLocal != null">dept_local = #{deptLocal},</if>
            <if test="deptRemarks != null">dept_remarks = #{deptRemarks},</if>
        </set>
        where dept_id = #{deptId}
    </update>
    
    

</mapper>
